<ion-header>
  <ion-toolbar color="dark">
    <ion-title [routerLink]="['/home']">
      Ionic Blank
    </ion-title>
    <ion-button [routerLink]="['/chat']">chat</ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-list>
    <ion-item button *ngFor="let item of playList" (click)="start(item)">
      <ion-label [color]="item== activeTrack  ? 'success' : 'light'">
        {{item.name}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="activeTrack">
  <ion-toolbar color="dark">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        {{activeTrack.name}}
      </ion-col>
      <ion-col size="12" class="ion-text-center">
       <ion-range #range [(ngModel)]="progress" max="100" color="success" (touchend)="seek()" (mouseup)="seek()"></ion-range>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button fill="clear" (click)="prev()" color="light">
          <ion-icon slot="icon-only" name="skip-backward"></ion-icon>
        </ion-button>

        <ion-button fill="clear" (click)="togglePlayer(false)" *ngIf="!isPlaying" color="light">
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>

        <ion-button fill="clear" (click)="togglePlayer(true)" *ngIf="isPlaying" color="light">
          <ion-icon slot="icon-only" name="pause"></ion-icon>
        </ion-button>

        <ion-button fill="clear" (click)="next()" color="light">
          <ion-icon slot="icon-only" name="skip-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>